<!-- <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
  <div>
      <label>Task name:</label>
      <input type="text" name="name" formControlName="name">
  </div>
  <div>
      <label>Task description:</label>
      <input type="text" name="description" formControlName="description">
  </div>
  <div>
      <button class="btn-primary" type="submit" [disabled]="!todoForm.valid" (click)="onAddTodo()">Add</button>
      <button class="btn-secondary" type="button" (click)="onClear()">Clear</button>        
  </div>
</form> -->

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="field">
      <label for="title">Task title:</label>
      <input type="text" name="title" ngModel required>
  </div>
  <div class="field">
      <label for="description">Task description:</label>
      <input type="text" name="description" ngModel>
  </div>
  <div>
      <button class="btn-primary" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
      <button class="btn-secondary" type="button" (click)="onRemove()" *ngIf="editMode">Remove</button> 
      <button class="btn-tertiary" type="button" (click)="onClear()">Clear</button>      
  </div>
</form>