<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="field">
      <label for="title">Todo title:</label>
      <input type="text" name="title" ngModel required>
  </div>
  <div class="field">
      <label for="description">Todo description:</label>
      <input type="text" name="description" ngModel>
  </div>
  <div>
      <button class="btn-primary" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
      <button class="btn-tertiary" type="button" (click)="onRemove()" *ngIf="editMode">Remove</button> 
      <button class="btn-secondary" type="button" (click)="onClear()">{{ editMode ? 'Cancel' : 'Clear' }}</button>      
  </div>
</form>